# Uncomment the variables as approriate.

# Your full name to use in global gitconfig.  Defaults to ${USER}
# git_user_name:

# user email for global gitconfig.
# git_user_email: 

# Your personal github access token.  No default.  If not defined,
# github setup will be skipped.
# github_access_token: 

# The name of the ssh key in your github configuration.
# github_ssh_key_name:
